footer {
  width: 92%;
  margin: 0 auto;
  padding: 25px 0;
  text-align: center;
  border-top: 2px solid var(--utp-cyan);
  color: var(--utp-gray-dark);
  font-family: var(--ff-avenirLTStd-book);
  font-size: var(--font-size-small);
  background-color: var(--utp-white);
}

footer p {
  margin: 6px 0;
  line-height: 1.4em;
}

footer .footer-version {
  font-size: var(--font-size-extra-small);
  color: var(--utp-cyan);
  font-family: var(--ff-gotham-bold);
}

@media (max-width: 600px) {
  footer {
    width: 100%;
    padding: 15px 0;
    font-size: 13px;
  }
}
