<div class="menu-principal">

  <div class="menu-items">

    <div class="menu-item" >
      <div class="card-utp" id="presencial">
        <div class="card-utp-header">
          <i class="fas fa-building"></i>
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
        </div>
        <div class="card-utp-body">
          <div class="card-body-title">
            <h3>Presencial</h3>
          </div>
        </div>
        <div class="card-utp-footer">
          <p>Personal que trabaja presencialmente</p>
          <button
            class="btn-outline-utp-white"
            [routerLink]="['/menu-principal/presencial']"
          >Ingresar
          </button>
        </div>
      </div>
    </div>

    <div class="menu-item">
      <div class="card-utp" id="remoto">
        <div class="card-utp-header">
          <i class="fas fa-laptop"></i>
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
        </div>
        <div class="card-utp-body">
          <div class="card-body-title">
            <h3>Remoto</h3>
          </div>
        </div>
        <div class="card-utp-footer">
          <p>Personal que trabaja de manera remota</p>
          <button
            class="btn-outline-utp-white"
            [routerLink]="['/remoto']"
          >Ingresar
          </button>
        </div>
      </div>
    </div>

    <div class="menu-item">
      <div class="card-utp" id="reportes">
        <div class="card-utp-header">
          <i class="fas fa-clipboard"></i>
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
        </div>
        <div class="card-utp-body">
          <div class="card-body-title">
            <h3>Reportes</h3>
          </div>
        </div>
        <div class="card-utp-footer">
          <p>Ver detalles de las marcaciones</p>
          <button
            class="btn-outline-utp-white"
            [routerLink]="['/reportes']"
          >Ingresar
          </button>
        </div>
      </div>
    </div>

    <div class="menu-item">
      <div class="card-utp" id="jefe">
        <div class="card-utp-header">
          <i class="fas fa-user-tie"></i>
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
        </div>
        <div class="card-utp-body">
          <div class="card-body-title">
            <h3>Encargado de área</h3>
          </div>
        </div>
        <div class="card-utp-footer">
          <p>Para validar trabajo en sobretiempo, obtener reportes</p>
          <button
            class="btn-outline-utp-white"
            [routerLink]="['/encargado']"
          >Ingresar
          </button>
        </div>
      </div>
    </div>

    <div class="menu-item">
      <div class="card-utp" id="urh">
        <div class="card-utp-header">
          <i class="fas fa-users"></i>
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
        </div>
        <div class="card-utp-body">
          <div class="card-body-title">
            <h3>URH</h3>
          </div>
        </div>
        <div class="card-utp-footer">
          <p>Control por parte de URH de las marcaciones</p>
          <button
            class="btn-outline-utp-white"
            [routerLink]="['/rrhh']"
          >Ingresar
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
