/**************************************/
/*   THEME FOR 'MARCACIONES' PROJECT  */
/**************************************/


/*Importing general variables*/
@import "styles/general";


/*Forms*/
.form-group-utp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Labels */
.form-group-utp label {
  margin-bottom: 0 !important;
}

.form-group-utp .label-utp {
  width: 100%;
  font-family: var(--ff-gotham-medium);
  font-size: var(--font-size-normal);
}

/* Form Control */
.form-group-utp .form-control-utp {
  border-radius: 12px;
  border: 2px solid var(--utp-cyan);
  color: var(--utp-black);
  font-family: var(--ff-avenirLTStd-book);
  font-size: var(--font-size-normal);
  outline: none;
  padding: 4px 12px;
  width: 100%;
}

.form-group-utp .form-control-utp::placeholder {
  color: var(--utp-gray-dark);
  font-family: var(--ff-avenirLTStd-book);
  font-size: var(--font-size-normal);
  opacity: 0.85;
}

/*Buttons*/

.btn-utp {
  width: 100%;
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 8px 18px;
  transition: all 300ms ease;
}
.btn-utp:hover {
  opacity: 0.8;
}

.btn-utp-cyan {
  @extend .btn-utp;
  background-color: var(--utp-cyan);
  color: var(--utp-white);
}

.btn-utp-red {
  @extend .btn-utp;
  background-color: var(--utp-red);
  color: var(--utp-white);
}

.btn-utp-green {
  @extend .btn-utp;
  background-color: var(--utp-green);
  color: var(--utp-white);
}

.btn-utp-yellow {
  @extend .btn-utp;
  background-color: var(--utp-yellow);
  color: var(--utp-white);
}

.btn-utp-gray-dark {
  @extend .btn-utp;
  background-color: var(--utp-gray-dark);
  color: var(--utp-white);
}

.btn-outline-utp-white {
  @extend .btn-utp;
  background-color: transparent;
  border: 2px solid var(--utp-white) !important;
  font-size: var(--font-size-small);
  border-radius: 15px;
  color: var(--utp-white);
  transition: 300ms all ease;
}
.btn-outline-utp-white:hover {
  transform: scale(1.05);
  opacity: 1 !important;
}

.icon-utp {
  margin-right: 6px;
}

/*Header sizes*/

.h1-utp {
  font-family: var(--ff-gotham-bold);
  font-size: var(--font-size-h1);
}
// .h2-utp {
//   font-family: var(--ff-gotham-bold);
//   font-size: var(--font-size-h2);
// }
// .h3-utp {
//   font-family: var(--ff-gotham-bold);
//   font-size: var(--font-size-h3);
// }
// .h4-utp {
//   font-family: var(--ff-gotham-bold);
//   font-size: var(--font-size-h4);
// }
// .h5-utp {
//   font-family: var(--ff-gotham-bold);
//   font-size: var(--font-size-h5);
// }
// .h6-utp {
//   font-family: var(--ff-gotham-bold);
//   font-size: var(--font-size-h6);
// }

// /*Font sizes*/

// .fz-small {
//   font-size: var(--font-size-small);
// }
// .fz-normal {
//   font-size: var(--font-size-normal);
// }
// .fz-medium {
//   font-size: var(--font-size-medium);
// }
// .fz-large {
//   font-size: var(--font-size-large);
// }
// .fz-mega {
//   font-size: var(--font-size-mega);
// }
// .fz-ultra {
//   font-size: var(--font-size-ultra);
// }

/*General background classses*/

.bg-utp-green {
  background-color: var(--utp-green);
}
.bg-utp-red {
  background-color: var(--utp-red);
}
.bg-utp-cyan {
  background-color: var(--utp-cyan);
}
.bg-utp-yellow {
  background-color: var(--utp-yellow);
}
.bg-utp-gray-dark {
  background-color: var(--utp-gray-dark);
}
.bg-utp-gray-light {
  background-color: var(--utp-gray-light);
}
// .bg-utp-white { background-color: var(--utp-white); }
// .bg-utp-black { background-color: var(--utp-black); }

/*General text color classes*/

.text-utp-green {
  color: var(--utp-green);
}
// .text-utp-red { color: var(--utp-red); }
.text-utp-cyan {
  color: var(--utp-cyan);
}
// .text-utp-yellow { color: var(--utp-yellow); }
.text-utp-gray-dark {
  color: var(--utp-gray-dark);
}
// .text-utp-gray-light { color: var(--utp-gray-light); }
// .text-utp-white { color: var(--utp-white); }
.text-utp-black {
  color: var(--utp-black);
}

// /*Buttons style*/

// .btn-utp { ... }
// .btn-utp-green { ... }
// .btn-utp-red { ... }
// .btn-utp-cyan { ... }
// .btn-utp-yellow { ... }
// .btn-utp-gray-dark { ... }
// .btn-utp-gray-light { ... }
// .icon-utp { ... }

// /*Outline buttons*/

// .btn-outline-utp-green { ... }
// .btn-outline-utp-red { ... }
.btn-outline-utp-cyan {
  @extend .btn-utp;
  background-color: var(--utp-white);
  border: 2px solid var(--utp-cyan);
  color: var(--utp-cyan);
}
.btn-outline-utp-cyan:hover {
  background-color: var(--utp-cyan);
  color: var(--utp-white);
  opacity: 1 !important;
}
// .btn-outline-utp-yellow { ... }
// .btn-outline-utp-gray-dark { ... }
// .btn-outline-utp-gray-light { ... }

/*btn small*/

.btn-sm-utp {
  border-radius: 8px;
  border: none;
  font-size: var(--font-size-small);
  font-family: var(--ff-gotham-medium);
  outline: none;
  padding: 6px 18px;
  transform: scale(0.9);
  transition: all 300ms ease;
  white-space: nowrap;
}
.btn-sm-utp:hover {
  opacity: 0.8;
}
.btn-sm-utp.keep {
  opacity: 1;
}
.btn-sm-utp.keep:hover {
  transform: scale(0.95);
}
.btn-sm-utp i {
  transform: scale(0.9);
}

// .btn-sm-utp-green { ... }
// .btn-sm-utp-red { ... }
.btn-sm-utp-cyan {
  @extend .btn-sm-utp;
  background-color: var(--utp-cyan);
  color: var(--utp-white);
}
.btn-sm-utp-yellow {
  @extend .btn-sm-utp;
  background-color: var(--utp-yellow);
  color: var(--utp-white);
}
.btn-sm-utp-view-later {
  @extend .btn-sm-utp;
  background-color: #919191;
  color: var(--utp-white);
}
.btn-sm-utp-gray-dark {
  @extend .btn-sm-utp;
  background-color: var(--utp-gray-dark);
  color: var(--utp-white);
}
.btn-sm-utp-cyan {
  @extend .btn-sm-utp;
  background-color: var(--utp-cyan);
  color: var(--utp-white);
}
// .btn-sm-utp-gray-light { ... }

/*Label style*/

label {
  margin-bottom: 0 !important;
}
.label-utp {
  font-family: var(--ff-gotham-medium);
  font-size: var(--font-size-normal);
}

/*Form control style*/

.form-control-utp {
  border-radius: 8px;
  border: 1.5px solid #c4c4c4;
  color: var(--utp-black);
  font-family: var(--ff-avenirLTStd-book);
  font-size: var(--font-size-normal);
  outline: none;
  padding: 10px 12px;
  width: 100%;
}
// .form-control-utp::placeholder { ... }
// .form-control-utp:disabled { ... }
// .is-invalid-utp { ... }
// .invalid-feedback-utp { ... }

textarea.form-control-utp {
  resize: none;
}

/*Badge style*/

.badge-utp {
  border-radius: 8px;
  font-family: var(--ff-gotham-medium);
  font-size: var(--font-size-extra-small);
  padding: 3px 6px;
  white-space: nowrap;
}
.badge-utp-green {
  @extend .badge-utp;
  background-color: var(--utp-green);
  color: var(--utp-white);
}
.badge-utp-red {
  @extend .badge-utp;
  background-color: var(--utp-red);
  color: var(--utp-white);
}
.badge-utp-cyan {
  @extend .badge-utp;
  background-color: var(--utp-cyan);
  color: var(--utp-white);
}
.badge-utp-yellow {
  @extend .badge-utp;
  background-color: var(--utp-yellow);
  color: var(--utp-white);
}
.badge-utp-gray-dark {
  @extend .badge-utp;
  background-color: var(--utp-gray-dark);
  color: var(--utp-white);
}
.badge-utp-gray-light {
  @extend .badge-utp;
  background-color: #a9a9a9;
  color: var(--utp-white);
}
.badge-utp-green-light {
  @extend .badge-utp;
  background-color: var(--utp-green-light);
  color: var(--utp-white);
}
.badge-utp-red-light {
  @extend .badge-utp;
  background-color: var(--utp-red-light);
  color: var(--utp-white);
}
.badge-utp-cyan-light {
  @extend .badge-utp;
  background-color: var(--utp-cyan-light);
  color: var(--utp-white);
}
.badge-utp-yellow-light {
  @extend .badge-utp;
  background-color: var(--utp-yellow-light);
  color: var(--utp-white);
}

// /*select style*/

.ng-select .ng-select-container {
  border-radius: 8px !important;
  border: 1.5px solid #c4c4c4;
  color: var(--utp-black) !important;
  height: 36px !important;
  min-height: 36px !important;
}
.ng-select .ng-select-container .ng-value-container .ng-input > input {
  background: var(--utp-white);
  color: var(--utp-black) !important;
  font-family: var(--ff-avenirLTStd-book) !important;
  font-size: var(--font-size-normal) !important;
}
.ng-select .ng-arrow-wrapper .ng-arrow {
  border-color: #c4c4c4 transparent transparent !important;
}
.ng-select .ng-clear-wrapper {
  color: var(--utp-gray-dark) !important;
}
.ng-select.ng-select-opened > .ng-select-container .ng-arrow {
  border-color: transparent transparent #c4c4c4 !important;
}
.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  box-shadow: none !important;
}

.ng-dropdown-panel {
  border: 1.5px solid #c4c4c4;
}
.ng-dropdown-panel.ng-select-top {
  border-bottom-color: #c4c4c4 !important;
  border-radius: 8px !important;
  margin-bottom: -2px !important;
}
.ng-dropdown-panel.ng-select-bottom {
  border-bottom-color: #c4c4c4 !important;
  border-radius: 8px !important;
  margin-top: -2px !important;
}
.ng-dropdown-panel .scroll-host {
  border-radius: 8px !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #f7f7f7 !important;
  color: var(--utp-black) !important;
  font-family: var(--ff-avenirLTStd-book) !important;
  font-size: var(--font-size-normal) !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  color: var(--utp-black) !important;
  font-family: var(--ff-avenirLTStd-book) !important;
  font-size: var(--font-size-normal) !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background-color: #ececec !important;
  color: var(--utp-black) !important;
  font-family: var(--ff-avenirLTStd-book) !important;
  font-size: var(--font-size-normal) !important;
}
.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected.ng-option-marked {
  background-color: #ececec !important;
  color: var(--utp-black) !important;
  font-family: var(--ff-avenirLTStd-book) !important;
  font-size: var(--font-size-normal) !important;
}

// .ng-select.ng-select-single... { ... }

/* Checkbox */

.mat-checkbox-label {
  font-size: 13px;
  font-family: var(--ff-gotham-bold);
  color: var(--utp-gray-dark);
  white-space: initial;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: var(--utp-cyan) !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent
  .mat-checkbox-indeterminate.mat-accent
  .mat-checkbox-background {
  background-color: var(--utp-cyan);
}

.mat-checkbox.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: var(--utp-cyan) !important;
}

.mat-checkbox.mat-accent .mat-checkbox-frame {
  border: 2px solid #797979 !important;
}

/* Input */

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: var(--utp-gray-dark);
  font-family: var(--ff-gotham-bold);
}

.mat-form-field-label.mat-empty.mat-form-field-empty.ng-star-inserted
  .ng-star-inserted {
  font-size: 12px;
}

.mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored {
  font-size: 14px;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: var(--utp-cyan);
}
.mat-form-field.mat-focused .mat-form-field-label {
  color: var(--utp-gray-dark);
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  top: 1.5em;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.4em) scale(1) !important;
  -ms-transform: translateY(-1.4em) scale(1) !important;
  font-size: 12px;
}

.mat-input-element {
  caret-color: var(--utp-cyan) !important;
}

.mat-form-field.c-full-width.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float.mat-form-field-has-label.ng-star-inserted
  .mat-form-field-wrapper
  .mat-form-field-flex
  .mat-form-field-infix
  .mat-form-field-label-wrapper
  .mat-form-field-label.ng-star-inserted {
  font-size: 12px !important;
}

// /*TABLES*/

.thead-utp {
  background-color: #ededed;
  color: var(--utp-gray-dark);
}
.thead-utp th {
  font-family: var(--ff-gotham-bold);
  height: 36px;
  font-size: 1.2em;
  vertical-align: middle !important;
}

table.dataTable.table-sm .sorting:before,
table.dataTable.table-sm .sorting_asc:before,
table.dataTable.table-sm .sorting_desc:before {
  right: 16px;
  top: 13px;
  content: "\f30c";
  font-family: "Font Awesome 5 Pro";
}
table.dataTable.table-sm .sorting:after,
table.dataTable.table-sm .sorting_asc:after,
table.dataTable.table-sm .sorting_desc:after {
  top: 13px;
  content: "\f309";
  font-family: "Font Awesome 5 Pro";
}

.tbody-white {
  border: 1px solid #ddd;
  color: var(--utp-gray-dark);
  font-family: var(--ff-avenirLTStd-book);
}
.tbody-white .dataTables_empty {
  border: 1px solid transparent;
}

.row-focus tbody tr:hover {
  background: #f8f9b2;
  color: var(--utp-black);
  cursor: pointer;
  transition: all 300ms ease;
}

table.dataTable {
  border-collapse: collapse !important;
}

.top {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}
.top .dataTables_info {
  color: var(--utp-gray-dark);
  font-family: var(--ff-gotham-medium);
  font-size: var(--font-size-normal);
  text-align: left;
  width: calc(100% - 255px);
}
.top .dataTables_filter {
  display: flex;
  justify-content: flex-start;
  width: 255px;
  position: relative;
  z-index: 20;
}
.top .dataTables_filter label {
  font-family: var(--ff-gotham-medium);
  font-size: 13.8px;
}
.top .dataTables_filter label .form-control {
  border: none;
  border-bottom: 1px solid var(--utp-gray-dark);
  border-radius: 0;
  font-family: var(--ff-avenirLTStd-book);
  height: 36px;
  transition: 300ms all ease;
  width: 180px;
}
.top .dataTables_filter label .form-control.form-control-sm {
  padding: 0.15rem 0.5rem !important;
}
.top .dataTables_filter label .form-control:focus {
  border-bottom: 2px solid var(--utp-cyan);
  box-shadow: none;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.bottom .dataTables_length label {
  font-family: var(--ff-gotham-medium);
  font-size: 13px;
  color: var(--utp-gray-dark);
}
.bottom .dataTables_length label select {
  border: none;
  border-bottom: 1px solid var(--utp-gray-dark);
  font-family: var(--ff-avenirLTStd-book);
  box-shadow: none;
  border-radius: 0;
}
.bottom
  .dataTables_paginate.paging_simple_numbers
  .pagination
  .paginate_button.page-item
  a {
  font-family: var(--ff-gotham-medium) !important;
  font-size: 13px !important;
  box-shadow: none;
  color: var(--utp-gray-dark) !important;
}
.bottom
  .dataTables_paginate.paging_simple_numbers
  .pagination
  .paginate_button.page-item.active
  a {
  color: var(--utp-gray-dark) !important;
  background-color: #ededed;
  border-color: #ededed;
}
.bottom
  .dataTables_paginate.paging_simple_numbers
  .pagination
  .paginate_button.page-item.previous
  .page-link,
.bottom
  .dataTables_paginate.paging_simple_numbers
  .pagination
  .paginate_button.page-item.next
  .page-link {
  color: var(--utp-gray-dark) !important;
}
.bottom
  .dataTables_paginate.paging_simple_numbers
  .pagination
  .paginate_button.page-item.previous.disabled
  a,
.bottom
  .dataTables_paginate.paging_simple_numbers
  .pagination
  .paginate_button.page-item.next.disabled
  a {
  color: #a7a7a7 !important;
}

.dataTables_empty {
  font-family: var(--ff-gotham-medium) !important;
  font-size: var(--font-size-small) !important;
}

table.dataTable thead,
table.dataTable tbody {
  font-size: 13px;
}

.dataTables_processing {
  position: inherit !important;
  top: 0 !important;
  left: 0 !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  width: 100% !important;
  border: 0px !important;
  background-color: transparent !important;
}

table.dataTable table {
  transition: all 300ms ease;
}

/*checkbox custom*/

.switch-utp input[type="checkbox"] {
  -webkit-appearance: none;
  background: #c6c6c6;
  border-radius: 15px;
  border-radius: 30px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 5px;
  outline: none;
  position: relative;
  transition: 0.5s;
  width: 100%;
}
.switch-utp input[type="checkbox"]::before {
  background: #a5a5a5;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  content: "";
  height: 12px;
  left: 0;
  position: absolute;
  top: -4px;
  transform: scale(1.1);
  transition: 0.5s;
  width: 12px;
}
.switch-utp input:checked[type="checkbox"] {
  background: var(--utp-cyan);
}
.switch-utp input:checked[type="checkbox"]::before {
  background: var(--utp-cyan);
  left: calc(100% - 12px);
}

.badge-counter {
  display: inline-flex !important;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  justify-self: center;
  font-family: var(--ff-gotham-medium);
  font-size: var(--font-size-extra-small);
  white-space: nowrap;
  background-color: var(--utp-red);
  color: var(--utp-white);
}

.badge-answer {
  display: inline-flex !important;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  width: 35px;
  padding: 1px 0px;
  border-radius: 6px;
  font-family: var(--ff-gotham-medium);
  font-size: var(--font-size-extra-small);
  white-space: nowrap;
}
.badge-utp-yes {
  @extend .badge-answer;
  background-color: var(--utp-green);
  color: var(--utp-white);
}
.badge-utp-no {
  @extend .badge-answer;
  background-color: #a9a9a9;
  color: var(--utp-white);
}
.badge-utp-no-applied {
  @extend .badge-utp-no;
  width: 75px !important;
}

/*Calendar*/
.mat-calendar-body-selected {
  background-color: var(--utp-cyan);
}

// .switch-utp { ... }

// /* Radio button */
// .mat-radio-button... { ... }

/*Tooltip*/
// .tooltip-utp { ... }

.title-confirm-schedule {
  font-size: 1.4em !important;
}
.action-confirm-schedule {
  margin: 0 auto 0 !important;
}
