<div class="main-container">
    <sidebar/>
    <div class="main-content">
        <router-outlet></router-outlet>
        <div class="circle1"></div>
        <svg class="circle2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" fill="#00A5A5"/></svg>
        <svg class="circle3" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="20" fill="#00A5A5"/></svg>
        <div class="circle4"></div>
        <svg class="circle5 " width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="18" cy="18" r="18" fill="#00A5A5"/></svg>
        <svg class="circle6" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" fill="#00A5A5"/></svg>
    </div>
</div>
